@model TechPulse.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link href="/icons/account.png" rel="icon" type="image/x-icon" />
    <title>Konto</title>
</head>
<body style="box-sizing: border-box">

    <h4 class="m-3">Skapa konto</h4>
    <hr />
    <div class="row m-3">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProfileImageUrl" class="control-label"></label>
                    <input asp-for="ProfileImageUrl" type="file" class="form-control" />
                    <span asp-validation-for="ProfileImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Skapa" class="btn btn-outline-primary" /> |
                    <a asp-action="Index" class="btn btn-outline-info">Tillbaka till alla konton</a>
                </div>
            </form>
        </div>
    </div>

    <div>
    </div>

</body>
</html>
