@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h1 class="text-center mb-2 mt-5">Välkommen till Tech<span class="pulse-text">Pulse</span></h1>
    <p id="tech-text" class="text-center">Din allt-i-ett-butiks lösning för allt inom teknik!</p>
    <div class="img-wrapper mt-5 text-center">
        <img src="~/icons/globe.png" class="tech-icon" alt="Purple Globe" id="globeIcon" width="300" height="300" />
    </div>
</body>

<script src="/js/GSAP.js"></script>

